<article class="blogpost">
    <div class="whole-post">
        <div class="info-section">
            <div class="post-name">
                <a href="/Blogpost/{{id}}" class="links">{{title}}</a>
            </div>
            <div class="user-info">
                <p id="comment-title">
                    Posted by <b>{{user.username}} </b> on <b>{{formatDate created_at}}</b>
                </p>
            </div>
        </div>
        <div class="content-wrapper">
            <p>{{content}}</p>
        </div>
    </div>
</article>